<%= articles_title @category, @tags, params, :format => '<h2 class="list_header">%s</h2>' %>
<% content_for :head do %>
  <%= auto_discovery_link_tag(:atom, blog_feed_url(@section, :format => :atom), :title => @section.title ) %>
  <%= auto_discovery_link_tag(:atom, blog_comments_url(@section, :format => :atom), :title => @section.title ) %>
  <% if @category %>
    <%= auto_discovery_link_tag(:atom, category_feed_url(@section, @category, :format => :atom), :title => t(:'adva.links.feed_title', :section => @category.title) ) %>
  <% end %>
  <% if @tags %>
    <%= auto_discovery_link_tag(:atom, tag_feed_url(@section, @tags, :format => :atom), :title => t(:'adva.links.feed_title', :section => @tags) ) %>
  <% end %>
<% end %>

<% content_for :extra_share do %>
  <ul>
    <li><%= link_to('Section feed', blog_feed_url(@section, :format => :atom), :title => @section.title ) %></li>
    <li><%= link_to('Section comments feed', blog_comments_url(@section, :format => :atom), :title => @section.title ) %></li>
    <% if @category %>
      <li></li><%= link_to('Category feed', category_feed_url(@section, @category, :format => :atom), :title => t(:'adva.links.feed_title', :section => @category.title) ) %></li>
    <% end %>
    <% if @tags %>
      <li><%= link_to('Tags feed', tag_feed_url(@section, @tags, :format => :atom), :title => t(:'adva.links.feed_title', :section => @tags) ) %></li>
    <% end %>
  </ul>
<% end %>

<%= render :partial => 'blogs/articles/article', :collection => @articles, :locals => { :mode => :many } %>
