<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml2/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="generator" content="adva-cms - Open source content management platform" />
    <title><%= @page_title ? "#{@page_title} : #{@site.title}" : @site.title  %></title>
    <%= theme_stylesheet_link_tag 'pma', 'default.css', 'forms.css' %>
    <!--[if lt IE 7]><%= theme_stylesheet_link_tag 'pma' %><![endif]-->
    <%= yield :extra_head %>
    <%= javascript_include_tag :common, :default %>
    <%= authorize_elements %>
    <%= yield :head %>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <div class="sub-nav">
          <% form_tag({:controller => 'search'}, :method => 'get', :class => 'search-frm') do %>
            <%= text_field_tag :q, {}, :class => 'text' %>
            <%= image_submit_tag theme_image_path('pma', 'btn-search.gif'), :class => 'btn' %>
          <% end %>
          <span>Welcome,</span>
          <ul id="login_links" class="navigation">
            <li><%= link_to(t(:'adva.titles.signup'), new_user_path, :id => 'signup_link') %></li>
            <li><%= link_to(t(:'adva.titles.login'), login_path(:return_to => request.request_uri), :id => 'login_link') %></li>
            <li><a href="/make-a-payment">Make a Payment</a></li>
          </ul>
          <ul id="logout_links" style="display: none;" class="navigation">
            <li><%= t(:'adva.users.info.logged_in_as', :name => '<span class="user_name"></span>') %> &middot;
              <%= link_to(t(:'adva.titles.logout'), logout_path(:return_to => request.request_uri), :id => 'logout_link') %></li>
            <li><a href="/make-a-payment">Make a Payment</a></li>
          </ul>
        </div>
        <h1 class="logo"><%= link_to @site.title, '/' %></h1>
      </div>
      <div id="nav">
        <%#= Menus::Primary.new.build(self).root.render(:id => 'primary-nav') %>
        <%= render :partial => '/shared/navigation' %>
      </div>