<%= render :partial => '/shared/top' %>
<%= yield :above_main %>
<div id="main">
  <div class="main-holder">
    <div class="col1">
      <div class="content">
        <%= yield :col1_top %>
        <%= (Asset.featured_image.nil? ? '' : image_tag(Asset.featured_image.base_url(:medium))) %>
        <div id="secondary-nav">
          <% if @section -%>
            <%= '<h2>In this section</h2>' if @section.root.descendants.present? or 
              (@section.is_a?(Blog) and (@section.categories.present? or @section.tag_counts.present?) or 
              @section.try(:article_counts_by_month).present?) %>
            <ul>
              <% if @section.root.descendants.present? -%>
                <li><h3>Sub-Sections</h3></li>
                <% @section.root.descendants.select(&:published?).each do |section| -%>
                  <li class="item <%= "level-#{section.level}" %> <%= 'active' if current_page?(url_for(section)) %>">
                    <%= link_to section.title, section %>
                  </li>
                <% end -%>
              <% end -%>    
              <% if @section.is_a?(Blog) -%>    
                <% if @section.categories.present? -%>
                  <li><h3>Categories</h3></li>
                  <% @section.categories.each do |category| -%>
                    <li class="item <%= "level-#{category.level+1}" %> <%= 'active' if @category == category %>">
                      <%= link_to_category @section, category %>
                    </li>
                  <% end -%>
                <% end -%>
                <% if @section.tag_counts.present? -%>
                  <li><h3>Tags</h3></li>
                  <li class="cloud">
                    <% tag_cloud @section.tag_counts, %w(t1 t2 t3 t4 t5) do |tag, css_class| -%>
                      <span class="<%= css_class %>"><%= link_to_tag @section, tag %></span>
                    <% end -%>
                  </li>
                <% end -%>
                <% if @section.try(:article_counts_by_month).present? -%>
                  <li><h3><%= t :'adva.titles.archives' %></h3></li>
                  <% @section.archive_months.each do |month| %>
                    <li class="item month <%= 'active' if current_page?(url_for(:year => month.year, :month => month.month)) %>">
                      <%= link_to l( month, :format => '%B %Y' ), 
                        blog_path(@section, :year => month.year, :month => month.month) %>
                    </li>
                  <% end -%>
                <% end -%>
              <% end -%>
            </ul>
          <% end -%>
        </div>
      </div>
      <%= render_cell :misc, :upcoming_events %>
      <%= yield :col1_bottom %>
    </div>
    <div class="col2">
      <div class="headline breadcrumbs">
        <ul class="heading">
          <li><%= link_to 'Home', '/' %></li>
          <% if @section and @section.lft > 1 %>
            <% @section.ancestors.each do |section| %>
              <li><%= link_to section.title, section %></li>
            <% end %>
            <% if @section.try(:single_article_mode) %>
              <li><%= @section.title %></li>
            <% else %>
              <li><%= link_to @section.title, @section %></li>
            <% end %>
          <% else %>
            <li><%= @page_title %></li>
          <% end %>
        </ul>
      </div>
      <div class="content">
        <%= yield %>
      </div>
    </div>
    <div class="col3">
      <%= yield :col3_top %>
      <%= render :partial => '/shared/banner_2' %>
      <%= render_cell :misc, :share_and_subscribe %>
      <%= yield :col3_bottom %>
    </div>
  </div>
</div>
<%= yield :below_main %>
<%= render :partial => '/shared/bottom' %>

