<h2><%= t(:'adva.titles.login') %></h2>
<% form_for @user, :url => session_path, :html => {:id => 'login'} do |f| %>
  <%= error_messages_for :user %>
  
  <%= hidden_field_tag :return_to, params[:return_to] if params[:return_to] %>
	<p><%= f.text_field :email, :class => 'big', :label => true %></p>
	<p><%= f.password_field :password, :class => 'big', :label => true %></p>
	<p><%= check_box_tag 'user[remember_me]', 1, @remember_me, :id => 'user_remember_me' %>
	<%= label_tag :user_remember_me, t(:'adva.session.labels.remember_me'), :class => 'inline light' %></p>
	
	<% f.buttons do %>
	  <%= submit_tag t(:'adva.titles.login'), :id => 'commit' %> <%= t(:'adva.common.connector.or')%>
	  <%= link_to t(:'adva.passwords.titles.new'), new_password_path %> or
  	<%= link_to t(:'adva.users.titles.signup'), new_user_path %>
  <% end %>
<% end %>
