<h2><%= t(:'adva.passwords.titles.edit') %></h2>

<p><%= params[:token].blank? ? t(:'adva.passwords.info.please_enter_new_password_and_token') : t(:'adva.passwords.info.please_enter_new_password') %></p>

<% form_for 'user', :url => password_path, :html => { :method => :put, :id => 'edit-password' } do |f| %>
	<p><%= label_tag(t(:'adva.passwords.attributes.token')) + text_field_tag('token') unless current_user %></p>
	<p><%= f.password_field :password, :label => :"adva.users.attributes.new_password" %></p>

  <% f.buttons do %>
		<%= submit_tag t(:'adva.common.save') %>
	<% end %>
<% end %>
